/* Main HTML Stuff */
		
#particles-js canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-color: #1B2631;
	transition: background 1.0s;
}

#particles-js.allyAlly canvas {
	background: #00add7;
	transition: background 1.0s;
}

#particles-js.betrayed canvas {
	background: #600000;
	transition: background 1.0s;
}

#particles-js.betrayer canvas {
	background: #009926;
	transition: background 1.0s;
}

#particles-js.betrayBetray canvas {
	background: #600000;
	transition: background 1.0s;
}

body .container-full {
	color: white;
}

/* Frontpage */

img.etherDilemma {
	max-width: 100%;
}

#trusted {
	text-align: center;
	font-size: 19pt;
	margin-top: 35px;
}

body h4 {
	font-size:20pt;
}

#theGame h4 {
	text-align: center;
	border-bottom: 1px white dotted;
	padding-bottom: 5px;
}

div#theGame div {
	padding-left: 8px;
	padding-right: 8px;
}

#theGame {
	margin-top: 55px;
	border: 1px white dotted;
	padding-bottom: 8px;
}

#theStakes {
	margin-top: 55px;
	text-align: center;
}

#thePayout h4 {
	text-align: center;
}

#thePayout {
	margin-top: 55px;
	border: 1px white dotted;
	padding: 15px;
	padding-top: 5px;
	min-height: 150px;
	padding-left: 0px;
    padding-right: 0px;
}

#thePayout h4 {
	margin-bottom: 0px;
	padding-bottom: 8px;
	border-bottom: 1px white dotted;
}

#thePayout .col-sm-4 {
	float: left;
	padding-left: 0px;
	padding-right: 0px;
}

#thePayout .col-sm-4 div {
	padding-left: 8px;
	padding-right: 8px;
}

#thePayout .aboveText {
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	border-bottom: 1px white dotted;
}

#allyAlly, #betrayAlly, #betrayBetray {
	min-height: 104px;
}

#betrayAlly .aboveText {
	background: #009926;
}

#allyAlly .aboveText {
    background: #00add7;
}

#betrayAlly {
	border-left: 1px white dotted;
	border-right: 1px white dotted;
}

#betrayBetray .aboveText {
	background: #f40000;
}

#thePayout .col-sm-4 div.finney {
	padding: 0;
}

.finney {
	display: inline;
	color: 	#FFDF00;
	padding: 0;
}

#dilemmaWrapper {
	padding-top: 4%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#challengeButton {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	color: white;
    display: Block;
    width: 200px;
    height: 90px;
    font-size: 40pt;
    margin-top: 50px;
    border-radius: 10px;
    background: linear-gradient(to top, #00661a 44%, #009926 47%);
    border: 1px black solid;
	cursor: pointer;
}

#currentBlock {
	margin-left: 10%;
}

#nextTurnBlock {
	margin-right: 10%;
}

#currentBlock, #nextTurnBlock {
	float: left;
    background-color: #f5f5f5;
    border: 1px solid black;
    width: 40%;
    color: black;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
	font-size: 14pt;
}

#lockInChoice {
	margin-bottom: 15px;
	font-size: 15pt;
	height: 30px;
    margin-top: 85px;
}

#explanation {
	margin-bottom: 10px;
	font-size: 14pt;
	height: 70px;
    margin-top: 105px;
}

#yourMovePanel {
	height: 200px;
}

#yourMovePanel .betray, #yourMovePanel .ally {
	text-transform: uppercase;
}

.betray img, .ally img {
	width:20px;
	height:20px;
	margin-right: 3px;
}

.play {
	color: #009926;
	display: inline;
	font-weight: bold;
}

.betray {
	color: #f40000;
	display: inline;
	font-weight: bold;
}

.ally {
	color: #00add7;
	display: inline;
	font-weight: bold;
}

#turnTimer {
	text-align: center;
	width: 100%;
}

.selectable {
	margin-top: 10px;
	margin-bottom: 25px;
	text-align: center;
	font-size: 40pt;
	border: 1px solid black;
	cursor: pointer;
	background-color: #f5f5f5;
	width: 45%;
    display: block;
    float: left;
	height: 100%;
	padding-top: 31px;
	color: black;
}

.selectable.selected.betray, .selectable.selected.ally {
	border: 3px dotted #d9f442;
	padding-top: 29px;
}

.selectable.betray {
	background: #f40000;
	color: black;
}

.selectable.ally {
	background: #00add7;
	color: black;
}

.selectable.betray img, .selectable.ally img {
	width: 65px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body h3 {
	text-align: center;
}

#loader img {
	margin-left: 5px;
	margin-right: 5px;
}

#loader, #loaderAFK {
	margin-top: 75px;
	text-align: center;
}

#endScreen {
	text-align: center;
}

#homepageReturn {
	text-align: center;
}

#centerOr {
	margin-top: 90px;
	float: left;
    width: 10%;
	text-transform: uppercase;
    text-align: center;
	font-size: 19pt;
}

/* Chat */
p { 
	line-height:18px; 
}

#chatWrapper #content { 
	padding: 5px; 
	background: #ddd; 
	border-radius: 5px; 
	overflow-y: scroll;
	border: 1px solid #CCC; 
	margin-top:10px; 
	height: 160px; 
	color: black;
}
		   
#chatWrapper #input { 
	border-radius: 2px; 
	border: 1px solid #ccc;
	margin-top: 10px; 
	padding: 5px; 
	width: 600px;
	float: right;
	color: black;
}

#chatWrapper #status { 
	width: 105px; 
	display: block; 
	float: left; 
	margin-top: 15px; 
	color: white;
}