/* Main HTML Stuff */
		
#particles-js canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-color: #1B2631;
}

body div {
	color: white;
}

#dilemmaWrapper {
	padding-top: 8%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#challengeButton {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: Block;
    width: 200px;
    height: 90px;
    font-size: 40pt;
    margin-top: 50px;
    border-radius: 10px;
    background: linear-gradient(to top, #599958 44%, #4da84b 47%);
    border: 1px black solid;
	cursor: pointer;
}

#currentBlock {
	margin-left: 10%;
}

#nextTurnBlock {
	margin-right: 10%;
}

#currentBlock, #nextTurnBlock {
	float: left;
	background-color: white;
	border: 1px solid black;
	width: 40%;
	color: black;
	margin-bottom: 15px;
}

#lockInChoice {
	margin-bottom: 15px;
	font-size: 15pt;
	height: 30px;
    margin-top: 76px;
}

#explanation {
	margin-bottom: 10px;
	font-size: 14pt;
}

#yourMovePanel {
	height: 200px;
}

#yourMovePanel .betray, #yourMovePanel .cooperate {
	text-transform: uppercase;
}

.betray img, .cooperate img {
	width:20px;
	height:20px;
	margin-right: 3px;
}

.betray {
	color: red;
	display: inline;
}

.cooperate {
	color: green;
	display: inline;
}

#turnTimer {
	text-align: center;
	width: 100%;
}

.selectable {
	margin-top: 10px;
	margin-bottom: 25px;
	text-align: center;
	font-size: 40pt;
	border: 1px solid black;
	cursor: pointer;
	background-color: white;
	width: 45%;
    display: block;
    float: left;
	height: 100%;
	padding-top: 33px;
	color: black;
}

.selectable.selected.betray, .selectable.selected.cooperate {
	border: 3px dotted #d9f442;
	padding-top: 71px;
}

.selectable.betray {
	background-color: red;
}

.selectable.cooperate {
	background-color: green;
}

.selectable.betray img, .selectable.cooperate img {
	width: 65px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body h3 {
	text-align: center;
}

#loader img {
	margin-left: 5px;
	margin-right: 5px;
}

#loader {
	margin-top: 15px;
	text-align: center;
}

#endScreen {
	text-align: center;
}

#homepageReturn {
	text-align: center;
}

#centerOr {
	margin-top: 90px;
	float: left;
    width: 10%;
	text-transform: uppercase;
    text-align: center;
	font-size: 19pt;
}

/* Chat */
p { 
	line-height:18px; 
}

#content { 
	padding: 5px; 
	background: #ddd; 
	border-radius: 5px; 
	overflow-y: scroll;
	border: 1px solid #CCC; 
	margin-top:10px; 
	height: 160px; 
}
		   
#input { 
	border-radius: 2px; 
	border: 1px solid #ccc;
	margin-top: 10px; 
	padding: 5px; 
	width: 600px;
	float: right;
}

#status { 
	width: 105px; 
	display: block; 
	float: left; 
	margin-top: 15px; 
}

#chatWrapper { 
}