/* Global */
* {
	font-family: 'Lato', sans-serif;
}

/* Particles styling */
.particles-js-canvas-el {
	width: 100%;
	height: 100%;
	z-index: -2;
}

.left {
	float: left;
}

#particles-js {
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #1B2631;
	background-image: url('/images/background.png');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transition: background 1.0s;
}

.ui-helper-hidden-accessible {
	display: none;
}

.ui-tooltip, .arrow:after {
    background: #1B2631;
    border: 2px solid white;
	z-index: 150;
	position: absolute;
 }
  
.ui-tooltip {
	padding: 10px 20px;
	color: white;
	border-radius: 20px;
	text-transform: uppercase;
	box-shadow: 0 0 7px black;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}
  
#dilemmaWrapper {
	z-index: 100;
}

#particles-js.blue {
	background-color: #005266;
	transition: background 1.0s;
}

#particles-js.red {
	background-color: #600000;
	transition: background 1.0s;
}

#particles-js.green {
	background-color: #009933;
	transition: background 1.0s;
}

#particles-js.purple {
	background-color: #9e00d2;
	transition: background 1.0s;
}

/* Global */

body .container-full {
	color: white;
}

body h4 {
	font-size:20pt;
}

/* Frontpage */

#gameStuff {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 25px;
}

#bottomText {
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

img.etherDilemma {
	width: 800px;
	max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center {
	text-align: center;
}

#trusted {
    text-align: center;
    font-size: 19pt;
    font-weight: bold;
    letter-spacing: 3px;
}

#theGame h4 img, #theStakes h4 img, #thePayout h4 img {
	padding-top: 8px;
	max-width: 100%;
}

#theGame, #theStakes, #thePayout {
	font-size: 17pt;
	display: inline-block;
	text-align: center;
	border-top: 3px solid white;
	padding-top: 25px;
	padding-bottom: 25px;
}

#thePayout {
	border-bottom: 3px solid white;
}

.gameStuff {
	padding-top: 15px;
}

#theGame {
	border-top: none;
}

#trusted {
	border-bottom: 1px dotted white;
	padding-bottom: 40px;
}


#thePayout {
	min-height: 180px;
}

#gameStuff {
    padding-top: 10px;
    padding-bottom: 25px;
}

#theGame h4 {
	text-align: center;
}

#theGame .arrows {
	float: left;
	text-align: center;
	font-weight: bold;
	width: 5%;
}

#theStakes {
	text-align: center;
}

#theStakes .stakesText {
	padding-top: 70px;
	padding-bottom: 70px;
	font-size: 19pt;
}

#thePayout h4 {
	text-align: center;
}

#thePayout table img {
	max-width: 50px;
}

#thePayout table td { 
	padding: 2px;
}

#thePayout table td.first {
	border-right: 1px solid white;
}

#payoutSection {
	display: inline-block;
    padding-left: 0;
    padding-right: 0;
}

#thePayout table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: 	#FFDF00;
	font-weight: bold;
}

#thePayout .col-sm-4 {
	text-align: center;
}

#thePayout .payouts img, #theGame .gameStuff img {
	width: 100%;
}

#theGame .gameStuff img {
	max-height: 160px;
}
	

#thePayout h4, #theStakes h4, #theGame h4 {
	margin-bottom: 0px;
}

#theGame h4 {
	padding-top: 10px;
}

#thePayout .col-sm-4 div {
	padding-left: 8px;
	padding-right: 8px;
}

#thePayout table td {
	padding: 5px;
}

#allyAlly table {
	background: rgba(0, 173, 215, 0.8);
	border: 1px white solid;
}

#betrayAlly table {
	background: rgba(0, 153, 38, 0.8);
	border: 1px white solid;
}

#betrayBetray table {
	background: rgba(244, 0, 0, 0.8);
	border: 1px white solid;
}

#thePayout .col-sm-4 div.finney {
	padding: 0;
	font-weight: bold;
}

.finney {
	display: inline;
	color: 	#FFDF00;
	padding: 0;
	font-weight: bold;
}

#dilemmaWrapper {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#challengeButton {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	color: white;
    display: Block;
    width: 200px;
    height: 90px;
    font-size: 40pt;
    border-radius: 10px;
    background: linear-gradient(to top, rgb(0, 102, 0) 43%, rgb(0, 153, 38) 56%);
    border: 1px black solid;
	cursor: pointer;
}

#challengeButton.challengeButtonEnd {
	font-size: 21pt;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
	color: white;
    display: Block;
    width: 200px;
    height: 90px;
    margin-top: 40px;
    border-radius: 10px;
    background: linear-gradient(to top, rgb(0, 102, 0) 43%, rgb(0, 153, 38) 56%);
    border: 1px black solid;
	cursor: pointer;
}


#bottomText #challengeButton {
    background: linear-gradient(to top, #747475 43%, #c4c4c4 56%);
	cursor: auto;
}

/* In the dilemma */
#main {
	max-width: 1903px;
	margin-left: auto;
	margin-right: auto;
}

#content p {
	margin-bottom: 5px;
}

#yourMovePanel {
	margin-top: -16px;
}

#yourMovePanel .ally {
	position: absolute;
    height: 78px;
    left: 25px;
    top: 89px;
	width: 150px;
    background-image: url(../images/Ally-icon-plain.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#yourMovePanel .ally:hover {
	background-image: url(../images/Ally-icon-hover.png);
}

#yourMovePanel .betray {
    position: absolute;
    height: 98px;
    top: 70px;
    right: 45px;
	width: 150px;
    background-image: url(../images/Betray-icon-plain.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#yourMovePanel .betray:hover {
	background-image: url(../images/Betray-icon-hover.png);
}

#yourMovePanel .call {
	position: absolute;
    height: 77px;
    bottom: 27px;
    right: 167px;
	width: 150px;
    background-image: url(../images/Call-icon-plain.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#yourMovePanel .call:hover {
	background-image: url(../images/Call-icon-hover.png);
}

.betray img, .ally img {
	width:30px;
	height:20px;
	margin-right: 3px;
}

.play {
	color: #009926;
	display: inline;
	font-weight: bold;
}

.betray {
	color: #f40000;
	display: inline;
	font-weight: bold;
}

.ally {
	color: #00add7;
	display: inline;
	font-weight: bold;
}

#emptySpace {
	height: 10px;
}

#turnTimer {
	text-align: center;
	width: 100%;
}

.selectable {
	margin-top: 17px;
	margin-bottom: 20px;
	height: 400px;
	cursor: pointer;
    display: block;
    float: left;
	color: white;
}

#updateBlock .title {
	font-size: 16pt;
}

#updateBlock .text {
	font-size: 20pt;
}

#updateBlock img {
	margin-left: 5px;
	margin-right: 5px;
}

#updateBlock {
	text-align: center;
}

/* preload these images */
body:after{
 display:none; 
 content: url(../images/3-buttons-no-click-no-icons.png) url(../images/3-button-ally-clicked-no-icon.png) url(../images/3-button-betray-clicked-no-icon.png) url(../images/3-button-call-clicked-no-icon.png);
}

#moveSelector {
    background-image: url(../images/3-buttons-no-click-no-icons.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 462px;
    height: 440px;
    position: relative;
}

#moveSelector.allySelected {
	background-image: url(../images/3-button-ally-clicked-no-icon.png);
}

#moveSelector.betraySelected {
	background-image: url(../images/3-button-betray-clicked-no-icon.png);
}

#moveSelector.callSelected {
	background-image: url(../images/3-button-call-clicked-no-icon.png);
}

.callUnderline {
	text-decoration: underline;
    text-decoration-color: #9e00d2;
	display: inline;
}

.betrayUnderline {
	text-decoration: underline;
    text-decoration-color: #f40000;
	display: inline;
}

.allyUnderline {
	text-decoration: underline;
    text-decoration-color: #00add7;
	display: inline;
}


body h3 {
	text-align: center;
}

#loader img {
	margin-left: 5px;
	margin-right: 5px;
}

#loader, #loaderAFK {
	margin-top: 15px;
	margin-bottom: 46px;
	text-align: center;
}

#endScreen {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#endScreen #endMessage {
	font-size: 40pt;
	margin-bottom: 10px;
	border-top: 3px solid white;
	padding-top: 50px;
}

#endScreen #awarded {
	font-size: 32pt;
	margin-left: auto;
    margin-right: auto;
    border-top: 1px solid white;
}

#homepageReturn {
	text-align: center;
}

#centerOr {
	margin-top: 110px;
	margin-bottom: 110px;
	float: left;
	text-transform: uppercase;
    text-align: center;
	font-size: 20pt;
}

#blockHolder {
	display: inline-block;
	background: url("../images/cube.png") no-repeat right top;
	width: 150px;
	height: 155px;
	padding-top: 15px;
	padding-left: 20px;
}

#blockHolder .cubeText {
	font-size: 16pt;
	margin: 0px;
	padding: 0px;
}

.countdown {
	font-size: 62pt;
    margin: 0px;
    padding: 0px;
    line-height: 78px;
	color: white;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#lockInChoice {
	display: inline-block;
	margin-bottom: 15px;
	font-size: 20pt;
}

#explanation {
	margin-bottom: 20px;
	display: inline-block;
	font-size: 19pt;
}

/* Warning */
@media screen and (min-width: 992px) {
	#metaMaskWarning {
		position: fixed;
		top: 0;
		right: 0;
	}
}

#metaMaskWarning {
	border: 1px dotted white;
    margin: 20px;
	padding: 20px;
    background: rgba(0,0,0,0.3);
	text-align: center;
}

#metaMaskWarning .line1 {
	border-bottom: 1px solid white;
	margin-top: 10px;
}

/* Stats */
@media screen and (min-width: 992px) {
	#statsView {
		position: fixed;
		top: 0;
		left: 0;
	}
}

#statsView {
	border: 1px dotted white;
    margin: 20px;
	padding: 20px;
    background: rgba(0,0,0,0.3);
	text-align: center;
}

/* End screen */

#endScreen h3 {
	font-size: 75pt;
	padding-top: 40px;
	padding-bottom: 50px;
	text-transform: uppercase;
}

#endScreen {
	font-size: 32pt;
}

#homepageReturn a {
	font-size: 19pt;
}

/* Chat */
#chatWrapper {
	display: inline-block;
	margin-bottom: 15px;
}

#chatHolder {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

#sendMessage {
    margin-top: 10px;
    padding: 5px;
	border-radius: 5px;
    color: white;
	background: linear-gradient(to top, rgb(0, 102, 0) 43%, rgb(0, 153, 38) 56%);
	border: 1px black solid;
	cursor: pointer;
}

#chatWrapper #messages { 
	padding: 5px; 
	background: #ddd; 
	border-radius: 2px; 
	overflow-y: scroll;
	border: 1px solid #CCC; 
	margin-top:10px; 
	height: 125px; 
	color: black;
}

#chatWrapper form {
	margin-bottom: 0px;
}
		   
#chatWrapper #m { 
	border-radius: 2px; 
	border: 1px solid #ccc;
	margin-top: 10px; 
	padding: 5px; 
	float: right;
	color: black;
}

#chatWrapper #status { 
	display: block; 
	float: left;  
	color: white;
	padding-left: 0px;
	padding-top: 13px;
}

/* FAQ */
.FAQ {
	margin-left: auto;
	margin-right: auto;
}

.FAQ h1 {
	text-align: center;
	padding-top: 15px;
	text-transform: uppercase;
}

.FAQ h2 {
	text-align: center;
	margin-top: 15px;
}

#general h3.ui-accordion-header {
	background: #00add7;
	transition: background 1.0s;
	padding-left: 109px;
	text-align: left;
}

#cryptocurrency h3.ui-accordion-header {
	background: #f40000;
	transition: background 1.0s;
	padding-left: 109px;
	text-align: left;
}

#gameplay h3.ui-accordion-header {
	background: #009926;
	transition: background 1.0s;
	padding-left: 109px;
	text-align: left;
}

h3.ui-state-focus {
	border: none;
	outline: none;
}

h3.ui-accordion-header {
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

p.ui-accordion-content {
    border: 1px dotted white;
	color: white;
	background: rgba(0,0,0,0.3);
    margin-bottom: 15px;
    padding: 15px;
	font-size: 14pt;
}

#toggle {
    background: #000;
    color: #fff;
}

.accordion-body p {
    font-size: 18px;
}

/* Footer */
#footerContent a {
	font-weight: bold;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}

#footerContent {
	margin-top: 100px;
	margin-right: 0;
	width: 100%;
	text-align: center;
	color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 30px;
	border-top: 1px dotted white;
}

/* Contact page */
#contact {
	margin-left: auto;
	margin-right: auto;
}